<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/mine.css"/>
		<script src="js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="js/aladdin.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/aladdin.aikeplatform.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/aladdin.ext.js" type="text/javascript" charset="utf-8"></script> -->
		<script src="obligation.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
		<style>
			.navbar * {
				box-sizing: border-box;
			}			
			.navbar {
				width: 100%;
				height: 90px;
				/*padding: 20px 21px 0;*/
				/*position: absolute;
				top: 0;
				left: 0;*/
				z-index: 900;
				border-bottom: 1px solid #d1d1d1;
				line-height: 88px;
				background-color: #fff;
			}
			
			.navbar .title {
				height: 90px;
				color: #000000;
				font-size: 1.8rem;
				font-weight: bold;
				text-align: center;
/*				top: 0;*/
				/*position: relative;*/
				z-index: 900;
			}
			
			.navbar .titleContent {
				/*position: absolute; top: 8.5px; right: 0;*/
				display: inline-block;
				vertical-align: middle;
				height: 60px;
				border: 1px solid #f37938;
				border-radius: 30px;
			}
			
			.navbar .titleContent div {
				float: left;
				width: 199px;
				height: 60px;
				margin-top: -1px;
				/*border: 1px solid #f37938;*/
				border-radius: 30px;
				font-size: 1.4rem;
				line-height: 60px;
			}
			
			.navbar .titleContent div.active {
				color: #fffefe;
				background-color: #f37938
			}
			
			.navbar .leftButton,
			.navbar .rightButton {
				height: 87px;
				line-height: 87px;
				position: absolute;
				z-index: 902;
			}
			
			.navbar .leftButton {
				left: 21px;
			}
			
			.navbar .rightButton {
				right: 21px;
			}
			
			.navbar .leftButton i,
			.navbar .rightButton i {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				line-height: 44px;
				width: 44px;
				height: 44px;
			}
			
			.navbar .leftButton i img,
			.navbar .rightButton i img {
				line-height: 44px;
				vertical-align: middle;
			}
			
			.navbar .leftButton span,
			.navbar .rightButton span {
				vertical-align: middle;
				font-size: 1.2rem;
				color: #54b9ff;
			}
		</style>
		<script type="text/javascript">
			var clientWidth = document.documentElement.clientWidth,
				viewport = null,
				viewportWidth = 'device-width',
				viewportScale = 1,
				normalWidth = 748;
			if(clientWidth > normalWidth) {
				viewport = document.getElementById('viewport');
				viewportScale = clientWidth / normalWidth;
				viewportWidth = normalWidth * (normalWidth / clientWidth);
				viewport.setAttribute('content', 'width=' + viewportWidth + ', initial-scale=' + viewportScale + ', maximum-scale=' + viewportScale + ', user-scalable=0');
			} else if(clientWidth < normalWidth) {
				viewport = document.getElementById('viewport');
				viewportScale = clientWidth / normalWidth;
				viewportWidth = normalWidth;
				viewport.setAttribute('content', 'width=' + viewportWidth + ', initial-scale=' + viewportScale + ', maximum-scale=' + viewportScale + ', user-scalable=0');
			}
//			var opts = {
//				title:"责任积分",
//				color:"#000000",
//				backgroundColor:"#FFFFFF",
//				fontSize:20,
//				underlineVisible:true,
//				leftButtonVisible:true,
//				rightButtonVisible:true,
//				rightButtonText:"问题反馈",
//				rightButtonFontSize:16,
//				rightButtonBackgroundColor:"#ffffff"
//		}
//			aladdin.header.config(opts,function(err){
//				 if (err) {
//				    aladdin.toast.show({ message:err.message });
//				  }
//		})
		</script>
	</head>

	<body >
		<header>
			<nav class="navbar">
				<div class="leftButton" onclick="leftClick">
					<i v-if="leftIconShow"><img src="img/back@2x.png"/></i><span v-text="leftText"></span>
				</div>
				<div class="rightButton" onclick="rightClick">
					<span>问题反馈</span>
				</div>
				<div class="title">
					<slot>
						<span v-if="typeof title === 'string'" onclick="titleClick">责任积分</span>
						<!--<div v-else class="titleContent">
		                    <div v-for="(item, index) in title" :class="{active: item.active}"
		                         @click="titleClick(item.name, item.onclick)" v-text="item.title"
		                    ></div>-->
				</div>
				</slot>
				</div>
			</nav>
		</header>
			<div class=" resScore">
				<div class="main ">
					<div class="container">
						<!--<div class="modal" v-if="showDateSelect">
							<ScoreDateSelect :date="date" @cancel="showDateSelect=false" @selectMonth="selectMonth"></ScoreDateSelect>
						</div>-->
						<div class="scrollview">
							<div class="date">
								<div class="dateSelect">
									<div class="leftSelect" onclick="leftDateSelect()">
										<img src="img/leftArrow.png">
									</div>
									<div class="dateText" onclick="showDateSelectComponent"></div>
									<div class="rightSelect" onclick="test111()">
										<img src="img/rightArrow.png">
									</div>

								</div>
								<div class="score">
									36
								</div>
							</div>
							<div class="customernteraction">
								<div class="section">
									<span onclick="sdsdsda();">
                            <span class="sectionTitle">客户互动</span>
									<img src="img/question.png">
									</span>

								</div>
								<div class="cell">
									<ul id="liParent">
										<li  onclick="clickDetail(item)">
											<span class="spanTitle">重要事项提醒</span>
            			                    <span class="spanData" id="zysx">(/100)</span>
			                                <span class="spanPersent" :class="item | getColorClass" id="zysxP">%</span>
											<span class="spanScore" id="zysxS">
                                     		<span>+0</span>
											</span>
										</li>
											<li  onclick="clickDetail(item)">
											<span class="spanTitle">定期问候</span>
            			                    <span class="spanData" id="dqwh">(56/100)</span>
			                                <span class="spanPersent" :class="item | getColorClass" id="dqwhP">56%</span>
											<span class="spanScore" id="dqwhS">
                                     		<span>+10</span>
											</span>
										</li>
											<li  onclick="clickDetail(item)">
											<span class="spanTitle">商机追踪</span>
            			                    <span class="spanData" id="sjzz">(60/100)</span>
			                                <span class="spanPersent" :class="item | getColorClass" id="sjzzP">60%</span>
											<span class="spanScore" id="sjzzS">
                                     		<span>+10</span>
											</span>

										</li>
											<li  onclick="clickDetail(item)">
											<span class="spanTitle">面访</span>
            			                    <span class="spanData" id="mf">(60/100)</span>
			                                <span class="spanPersent" :class="item | getColorClass" id="mfP">60%</span>
											<span class="spanScore" id="mfS">
                                     		<span>+10</span>
											</span>
										</li>
										</li>
											<li  onclick="clickDetail(item)">
											<span class="spanTitle" >分享响应</span>
											<span class="spanScore">
                                     		<span id="sharePoints"></span>
											<img @click="" src="img/arrow.png">
											</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="quality">
								<div class="section">
									<span @click="clickQuality">
                            <span class="sectionTitle">品质</span>
									<img src="img/question.png">
									</span>
								</div>
								<div class="cell">
									<ul>
										<li >
											<span class="spanTitle">合规/风险案件</span>
											<span class="'spanScore'" id="hgfx">-20</span>
										</li>
										<li >
											<span class="spanTitle">客户投诉</span>
											<span class="'spanScore'" id="khts">-20</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="evaluate">
								<div class="section">
									<span @click="clickEvaluate">
                            <span class="sectionTitle">主管评价</span>
									<img src="img/question.png">
									</span>
								</div>
								<div class="cell">
									<ul>
										<li>
											<span class="spanTitle">主管评分</span>
											<span class="spanScore1">+10</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="customernteractionExplainContainer" @touchmove.self.prevent style="display: none;">
							<div class="customernteractionExplainScroll">
								<div class="customernteractionExplainHeader" @touchmove.prevent>
									<span class="customernteractionExplainHeaderSpan">
                           				客户互动积分说明
                       				</span>
								</div>
								<div class="customernteractionExplainContent">
									<div class="customernteractionExplainUl">
										<ul>
											<li class="customernteractionExplainContainerLi">
												<div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				重要事项提醒：
                                    				</span>
												</div>
												<div>
													<span class="customernteractionExplainContentSpan" id="zysxCt">
                                        				提醒消息类型为非"纪念日"、"店庆日"<br/>
                                        				本月跟进率>='+standard+',则本月获得重要事项提醒的'+standardPoints+'积分'
                                    				</span>
												</div>
											</li>
											<li class="customernteractionExplainContainerLi">
												<div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				定期问候：
                                    				</span>
												</div>
												<div>
													<span class="customernteractionExplainContentSpan" id="dqwhCt">
                                        				提醒消息类型为"纪念日"、"店庆日"<br/>
                                        				本月跟进率>='+standard+',则本月获得重要事项提醒的'+standardPoints+'积分'
                                    				</span>
												</div>
											</li>
											<li class="customernteractionExplainContainerLi">
												<div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				商机追踪：
                                    				</span>
												</div>
												<div>
													<span class="customernteractionExplainContentSpan" id="sjzzCt">
														本月商机跟进度>='设置值'，则本月可获得商机追踪的'设置值'。
                                    				</span>
												</div>
											</li>
											<li class="customernteractionExplainContainerLi">
												<div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				面访
                                    				</span>
												</div>
												<div>
													<span class="customernteractionExplainContentSpan" id="mfCt">
                                        				近三个月面访率>='+standard+',则本月获得面访的'+standardPoints+'积分'
                                    				</span>
												</div>
											</li>
											<li class="customernteractionExplainContainerLi">
												<div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				分享响应：
                                    				</span>
												</div>
												<div>
													<span class="customernteractionExplainContentSpan">
                                        				每日每个分享的产品点击人次>=3人,则每日可获得1积
                                        				分，每日最多可得2分。要尽量一个内容分享给多个用户哦！
                                    				</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="customernteractionExplainFooter" @touchmove.prevent>
									<div class="customernteractionExplainFooterButton">

										<span class="customernteractionExplainFooterButtonSpan" @click="hiddenCustomernteractionExplainModal">
                           									知道了
                       					</span>
									</div>
								</div>

							</div>
						</div>
						<div class="customernteractionExplainContainer" @touchmove.self.prevent style="display: none;">
							<div class="customernteractionExplainScroll">
								<div class="customernteractionExplainHeader" @touchmove.prevent>
									<span class="customernteractionExplainHeaderSpan">
                           				品质积分说明
                       				</span>
								</div>
								<div class="customernteractionExplainContent">
									<div class="customernteractionExplainUl">
										<ul>
											<li class="customernteractionExplainContainerLi">
												<div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				合规/风险案件：
                                    				</span>
												</div>
												<div>
													<span class="customernteractionExplainContentSpan">
                                        				出现合规案件扣分,按照红黄蓝牌扣分.红牌-20,黄牌-15,蓝牌-10
                                    				</span>
												</div>
											</li>
											<li class="customernteractionExplainContainerLi">
												<div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				客户投诉：
                                    				</span>
												</div>
												<div>
													<span class="customernteractionExplainContentSpan">
                                        				产生客户投诉并生效，会在-20~0内扣分
                                    				</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="customernteractionExplainFooter" @touchmove.prevent>
									<div class="customernteractionExplainFooterButton">

										<span class="customernteractionExplainFooterButtonSpan" @click="hiddenCustomernteractionExplainModal">
                           									知道了
                       					</span>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>
	
	</body>

</html>