<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/mine.css"/>
    <script src="../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/aladdin.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/aladdin.aikeplatform.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/aladdin.ext.js" type="text/javascript" charset="utf-8"></script>
    <script src="../main.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bonusScore.js" type="text/javascript" charset="utf-8"></script>
    <script src="../commonJS/commonJS.js" type="text/javascript" charset="utf-8"></script>
    <title></title>
    <style>
        .contenter {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
        }
        .adjustArea{
        	background-color: #34a1fc;
		    float: right;
		    color: white;
		    height: auto;
		    margin-top: 22px;
		    line-height: 50px;
		    width: auto;
		    text-align: center;
		    border-radius: 25px;
		    display:none
        }
    </style>
    <script type="text/javascript">
        var clientWidth = document.documentElement.clientWidth,
                viewport = null,
                viewportWidth = 'device-width',
                viewportScale = 1,
                normalWidth = 748;
        if (clientWidth > normalWidth) {
            viewport = document.getElementById('viewport');
            viewportScale = clientWidth / normalWidth;
            viewportWidth = normalWidth * (normalWidth / clientWidth);
            viewport.setAttribute('content', 'width=' + viewportWidth + ', initial-scale=' + viewportScale + ', maximum-scale=' + viewportScale + ', user-scalable=0');
        } else if (clientWidth < normalWidth) {
            viewport = document.getElementById('viewport');
            viewportScale = clientWidth / normalWidth;
            viewportWidth = normalWidth;
            viewport.setAttribute('content', 'width=' + viewportWidth + ', initial-scale=' + viewportScale + ', maximum-scale=' + viewportScale + ', user-scalable=0');
        }
        var rightButtonCallback  = function(){
            aladdin.navigator.forward({
                  title: '问题反馈',
                  url: '/sicaih5/dist/module/mine.html#/problemFeedback?type=bonusScore',
                  // 默认情况下即是`webapp`，可以不传
                  type: 'webapp',
                  header:{
                     visible:true
                  }
                  // 如果使用默认的模板，不需要传递
                }, function (err) {
                  if (err) {
                    aladdin.toast.show({ message: err.message });
                  }
                })
        };
        rightButtonCallback.keep=true;
         var name = getQueryMap("name");
         var nameNow = decodeURI(decodeURI(name));
        var title = '';
        if(nameNow != '' && nameNow != null && nameNow != undefined && nameNow != 'null' && nameNow !='undefined'){
        		title = nameNow + '奖励积分';
        		
        }else{
        		title = '奖励积分';
        }
        var opts = {
            title:title,
             color:"#000000",
            backgroundColor:"#FFFFFF",
            fontSize:'16px',
            underlineVisible:true,
            leftButtonText:'',
            leftButtonVisible:true,
            leftButtonFontSize: '16px',
            rightButtonVisible:true,
            rightButtonTextColor:"#34a1fc",
            rightButtonText:"问题反馈",
            rightButtonFontSize: '16px',
            rightButtonBackgroundColor:"#ffffff",
            leftButtonIcon:"/sicaih5/dist/static/back.png",
            leftButtonCallback:function(){aladdin.navigator.back()},
            rightButtonCallback:rightButtonCallback
            }
                aladdin.header.config(opts,function(err){
                     if (err) {
                        aladdin.toast.show({ message:err.message });
                      }
            })
    </script>
</head>

<body>
<!-- <header>
    <nav class="navbar">
        <div class="leftButton" onclick="leftClick">
            <i v-if="leftIconShow"><img src="../images/back2.png"/></i><span v-text="leftText"></span>
        </div>
        <div class="rightButton" onclick="rightClick">
            <span>问题反馈</span>
        </div>
        <div class="title">
            <slot>
                <span v-if="typeof title === 'string'" onclick="titleClick">奖励积分</span>
                <div v-else class="titleContent">
                    <div v-for="(item, index) in title" :class="{active: item.active}"
                         @click="titleClick(item.name, item.onclick)" v-text="item.title"
                    ></div>
            </slot>
        </div>
        </div>
    </nav>
</header> -->
<div class=" resScore">
    <div class="main ">
        <div class="container">
            <div class="modal" style="display: none;">
                <div style="width:600px;height:660px;background:#efefef;margin:0 auto;border-radius:15px">
                    <!-- 头部选择操作按钮 -->
                    <div class="contenter " style="height:110px;border-bottom: 1px solid rgba(0,0,0,0.1)">
                        <div onclick="leftButtonAction()" class="contenter leftCon" style="width:40px;height:40px">
                            <img src="../images/leftArrow.png" style="width:40px;">
                        </div>
                        <div class="contenter dateText" style="width:300px;height:40px;font-size: 30px"></div>
                        <div onclick="rightButtonAction()" class="contenter rightCon" style="width:40px;height:40px">
                            <img src="../images/rightArrow.png" style="width:40px;">
                        </div>
                    </div>

                    <!--月份排列-->
                    <div class="monthList" style="overflow:hidden;border-bottom: 1px solid rgba(0,0,0,0.1)">

                    </div>
                    <div class="contenter" onclick="cancelButtonAction()"
                         style="overflow:hidden;padding-top:10px; width:600px;height:88px;background-color: transparent">
                        取消
                    </div>
                </div>
            </div>
            <div class="scrollview">
                <div class="date">
                    <div class="dateSelect">
                        <div class="leftSelect" onclick="leftDateSelect()">
                            <img src="../images/leftArrow.png">
                        </div>
                        <div class="dateText showDate"></div>
                        <div class="rightSelect" onclick="rightDateSelect()">
                            <img src="../images/rightArrow.png">
                        </div>

                    </div>
                    <div id="score" class="score">
                        
                    </div>
                </div>
                <div class="dataUpdate" id="dateUpdate">最近更新日期T+1</div>
                <div class="customernteraction">
                    <div class="section ">
									<span onclick="sdsdsda();">
                            <span class="sectionTitle">产品销售</span>
									
									</span>

                    </div>
                    <div class="cell">
                        <ul id="liParent">
                            <li>
                                <span class="spanTitle">贷款</span>
                                			<div id="adjust1" class="adjustArea" ></div>
											<span id="loan" class="spanScore">
											</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="quality">
                    <div class="section section_b">
									<span>
                            <span class="sectionTitle">基础服务</span>
									<img src="../images/question.png">
									</span>
                    </div>
                    <div class="cell">
                        <ul>
                            <li id="oneSixId">
                                <span class="spanTitle">一户六开新客户</span>
                                <div id="adjust2" class="adjustArea"></div>
                                <span id="Q021201" class="spanScore"></span>
                            </li>
                            <li id="oneCustSixId">
                                <span class="spanTitle">一户六开老客户</span>
                                <div id="adjust3" class="adjustArea"></div>
                                <span id="Q021202" class="spanScore"></span>
                            </li>
                            <li id="incomeSignName">
                                <span class="spanTitle">新增签约类业务数</span>
                                <div id="adjust4" class="adjustArea"></div>
                                <span id="incomeSign" class="spanScore"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="customernteractionExplainContainer teraction" @touchmove.self.prevent style="display: none;">
                <div class="customernteractionExplainScroll showMask1" style="margin-top: 150px;">
                    <div class="customernteractionExplainHeader" @touchmove.prevent>
									<span class="customernteractionExplainHeaderSpan">
                           				基础服务积分说明
                       				</span>
                    </div>
                    <div class="customernteractionExplainContent">
                        <div class="customernteractionExplainUl">
                            <ul>
                                <li id="oneTosix" class="customernteractionExplainContainerLi">
                                    <div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				一户六开：
                                    				</span>
                                    </div>
                                    <div>
													<span class="customernteractionExplainContentSpan" id="strDataK">
                                                        当月完成一户六开的每个新客户数可得"设置值"分，老客户可得"设置值"分计给最后一开的办理人。
                                    				</span>
                                    </div>
                                </li>
                                <li class="customernteractionExplainContainerLi">
                                    <div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				新增签约类业务数：
                                    				</span>
                                    </div>
                                    <div>
													
													<span class="customernteractionExplainContentSpan" id="strData">
                                        				1.每个收银宝可得"设置值"分；<br/>
                                                        2.每个基金定投3个月，5000元以上可得"设置值"分；<br/>
                                                        3.每个基金定投3个月，1000元以上可得"设置值"分；<br/>
                                                        4.每个三方存管可得"设置值"分；<br/>
                                                        5.每个黄金账户且入金可得"设置值"分；<br/>
                                                        6.每个收付通且入金可得"设置值"分；<br/>
                                                        7.每个绑定三方支付可得"设置值"分；<br/>
                                                        8.每个活跃手机银行可得"设置值"分；<br/>
                                                        9.每个交易通可得"设置值"分；<br/>
                                                        10.每个贵金属T+D业务可得"设置值"分；<br/>
                                    				</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="customernteractionExplainFooter" @touchmove.prevent>
                        <div class="customernteractionExplainFooterButton">

										<span class="customernteractionExplainFooterButtonSpan"
                                              onclick="hiddenCustomernteractionExplainModal1()">
                           									知道了
                       					</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="customernteractionExplainContainer  character" @touchmove.self.prevent style="display: none;">
                <div class="customernteractionExplainScroll showMask2">
                    <div class="customernteractionExplainHeader" @touchmove.prevent>
									<span class="customernteractionExplainHeaderSpan">
                           				服务积分说明
                       				</span>
                    </div>
                    <div class="customernteractionExplainContent">
                        <div class="customernteractionExplainUl">
                            <ul>
                                <li class="customernteractionExplainContainerLi">
                                    <div style="margin-bottom: 5px;">
													<span class="customernteractionExplainTitleSpan">
                                        				新增签约类业务数：
                                    				</span>
                                    </div>
                                    <div>
													<span class="customernteractionExplainContentSpan">
                                        				1.每个收银宝可得"设置值"分；<br/>
                                                        2.每个基金定投3个月，5000元以上可得"设置值"分；<br/>
                                                        3.每个基金定投3个月，1000元以上可得"设置值"分；<br/>
                                                        4.每个三方存管可得"设置值"分；<br/>
                                                        5.每个黄金账户且入金可得"设置值"分；<br/>
                                                        6.每个收付通且入金可得"设置值"分；<br/>
                                                        7.每个绑定三方支付可得"设置值"分；<br/>
                                                        8.每个活跃手机银行可得"设置值"分；<br/>
                                                        9.每个交易通可得"设置值"分；<br/>
                                                        10.每个贵金属T+D业务可得"设置值"分；<br/>
                                    				</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="customernteractionExplainFooter" @touchmove.prevent>
                        <div class="customernteractionExplainFooterButton">

										<span class="customernteractionExplainFooterButtonSpan"
                                              onclick="hiddenCustomernteractionExplainModal2()">
                           									知道了
                       					</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="customernteractionExplainContainer  adjust" @touchmove.self.prevent style="display: none;">
                <div class="customernteractionExplainScroll showMask3">
                    <div class="customernteractionExplainHeader" @touchmove.prevent>
									<span class="customernteractionExplainHeaderSpan">
                           				手工调整原因
                       				</span>
                    </div>
                    <div class="customernteractionExplainContent">
                        <div class="customernteractionExplainUl">
                            <ul>
                                <li class="customernteractionExplainContainerLi">
                                    <div>
													<span class="customernteractionExplainContentSpan" id="adjustDesc">
                                    				</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="customernteractionExplainFooter" @touchmove.prevent>
                        <div class="customernteractionExplainFooterButton">

										<span class="customernteractionExplainFooterButtonSpan"
                                              onclick="hiddenCustomernteractionExplainModal4()">
                           									知道了
                       					</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--日历控件-->

</body>

</html>